{% extends "base/__widebase__.html" %}
{% block content %}
    <h2>Posts</h2>
    <p class="text-right"> <a href="/post/"  class="btn btn-primary">Add Post</a> </p>
    <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Tarih</th>
       
              </tr>
            </thead>
            <tbody>
              {% for p in posts%}
              <tr>
                  <th scope="row">{{p.id}}</th>
                  <td>{{p.title}}</td>
                  <td>{{p.created_date | date:"d.m.Y" }} <a style="float:right" href="" class="btn btn-primary">Edit</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

{% endblock %}